body {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Palatino;
    
    margin: 16px;
    font-size: 16px;
    line-height: 1.5;
}
h1{
    font-size: 21px;
}


a:link {
    color:#00FFFF;
}
a:visited{
    color:#FFCC33;
}
/*link when clicked*/
a:active{
    color:#FF6666;
}
img{
    width: 250px;
    max-width: 100%;
    height: auto;
}

/*whoami page*/

.whoami-image{
    width: 300px;
    height: auto;
}
.whoami-h1{
    color: #91AC67;
}
.green-text{
    color: #91AC67;
}

/*blog page*/

.blog-h1{
    color: #00FFFF;
}
.blog-terminator-image,
.blog-bouldering-image{
    width: 400px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/*media queries*/
@media (min-width:768px){
    body{
        margin: 32px;
        font-size: 18px;
    }
    h1{
        font-size: 32px;
    }
}
@media (min-width:1024px){
    body{
        margin: 36px;
        font-size:18px;
    }
    h1{
        font-size:36px;
    }

}
@media (max-widt:768px){
    nav{
        gap: 8px;
    }
    nav a{
        padding:6px 4px;
    }
}